@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

$primary: #757575;
$primaryDark: #455a64;
$secondary: #f44336;
$secondaryDark: #d32f2f;
$tertiary: white;
* {
  font-family: "Roboto", sans-serif;
}
